body {
	margin: 0;
	padding: 0;
	font-family:'Courier New', Courier, monospace;
	background-color: #36424e;
}

._header {
	margin: 0;
	background-color: #212930;
	color: white;
	height: 85px;
}

._header ._formSearch {
	float: right;
	margin-right: 20px;
	margin-top: -57px;
}

._header h1 {
	margin: 0;
	margin-left: 20px;
	width: 250px;
	margin-top: 5px;
}

#confirmClick {
	margin-top: 5px;
}

button {
	background-color: rgb(23, 50, 73);
	border: none;
	border-radius: 8px;
	padding: 4px;
	text-transform: uppercase;
	font-size: medium;
	color: white;
}

button:hover {
	cursor: pointer;
	background-color: rgb(39, 82, 121);
	color: white;
}

._resultsClass {
	width: 60%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #212930;
	color: white;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 100px;
}

._resultsClass button {
	background-color: #36424e;
	text-transform: none;
	padding: 10px;
	height: 100%;
	width: 100%;
}

._resultsClass button:hover {
	cursor: pointer;
	background-color: #60ffba7a;
}

._resultsClass li {
	background-color: #36424e;
	border-radius: 5px;
	list-style: none;
	margin-bottom: 5px;
}

._resultsClass ul {
	margin: 0;
	padding: 0;
}

.loading-logo {
	width: 100px;
	height: 100px;
	position: relative;
	margin: 50px auto;
	margin-top: 200px;
	display: none;
}

.loading-circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 8px solid transparent;
	border-top-color: #06b86b; /* Change this color to customize */
	position: absolute;
	top: 0;
	left: 0;
	animation: spin 1s linear infinite;
}

.loading-logo h1 {
	margin-top: 110px;
	text-align: center;
	color: white;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
