body {
	margin: 0;
	padding: 0;
	font-family:'Courier New', Courier, monospace;
	background-color: #36424e;
}

._header {
	margin: 0;
	background-color: #212930;
	color: white;
	height: 85px;
}

._header ._formSearch {
	float: right;
	margin-right: 20px;
	margin-top: -57px;
}

._header h1 {
	margin: 0;
	margin-left: 20px;
	width: 250px;
	margin-top: 5px;
}

#confirmClick {
	margin-top: 5px;
}

button {
	background-color: rgb(23, 50, 73);
	border: none;
	border-radius: 8px;
	padding: 4px;
	text-transform: uppercase;
	font-size: medium;
	color: white;
}

button:hover {
	cursor: pointer;
	background-color: rgb(39, 82, 121);
	color: white;
}

._resultsClass {
	width: 60%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #212930;
	color: white;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 100px;
}

._resultsClass button {
	float: right;
	margin-top: -5px;
}

._resultsClass li {
	background-color: #36424e;
	border-radius: 5px;
	padding: 10px;
	list-style: none;
	margin-bottom: 5px;
}

._resultsClass ul {
	margin: 0;
	padding: 0;
}
